include CHANGELOG.md
include Doxyfile
include LICENSE
include Makefile
include NOTICE
include README.md
include rcfile.pylint
include requirements.txt
include requirements-dev.txt
include setup.py
include tox.ini
include tools/hilbert
include tools/hilbert.py
include hilbert_config/__init__.py
include hilbert_config/helpers.py
include hilbert_config/hilbert_cli_config.py
include hilbert_config/subcmdparser.py
include tests/__init__.py
include tests/test_loadwarnings.py
include tests/test_validate.py
include tests/test_version.py
include tests/data/Hilbert.yml
include tests/data/Hilbert.yml.data.pickle
include tests/data/Hilbert.yml.pickle
include tests/data/dc.yml
include tests/data/docker-compose.yml
include tests/data/miniGroupHilbert.yml
include tests/data/miniGroupHilbert.yml.data.pickle
include tests/data/miniGroupHilbert.yml.pickle
include tests/data/miniHilbert.yml
include tests/data/miniHilbert.yml.data.pickle
include tests/data/miniHilbert.yml.pickle
include tests/data/non_unique_app_service_ids_Hilbert.yml
include tests/data/singleHostHilbert.yml
include tests/data/singleHostHilbert.yml.data.pickle
include tests/data/singleHostHilbert.yml.pickle
include server/appchange_station.sh
include server/list_stations.sh
include server/start_station.sh
include server/stop_station.sh
include server/list_applications.sh
include server/list_profiles.sh
global-exclude *.pyc
global-exclude *.pyo
